<div data-hook="admin_image_form_fields">
  <div data-hook="file" class="form-group">
    <%= form.label :attachment %><br/>
    <%= form.file_field :attachment %>
  </div>
  <div data-hook="alt_text" class="form-group">
    <%= form.label :alt %><br/>
    <%= form.text_field :alt, class: 'form-control' %>
  </div>
</div>

<div class="clear"></div>